body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("images/moroccan-flower.png");
}

nav {
    max-width: 700px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 10px;
}

.aboutme, .contactme {
    background-color: white;
    max-width: 500px;
    padding: 15px;
}

header {
    background-color: white;
    text-transform: uppercase;
    border-bottom: 2px solid gray;
}

h1, h2 {
    border-bottom: 2px solid black;
    margin-top: 0px;
}

.logo {
    background-color: teal;
    color: white;
    text-decoration: none;
    margin-right: auto;
    padding: 10px 10px;
    display: flex;
    font-size: 20pt;
}

.link {
    color: teal;
    text-decoration: none;
    margin: 0 4px;
    padding-right: 5px;
}

a[href="#About"], a[href="#Portfolio"] {
    border-right: 2px solid gray;
}

footer {
    background-color: gray;
    color: white;
    padding: 16px 0;
    text-align: center;
    margin-top: auto;
    border-top: 4px solid teal;
}

.headshot {
    float: left;
    margin: 0 20px 20px 0;
}

p {
    padding: 5px;
    line-height: 130%;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

img, p {
    padding-top: 10px;
}